html {
  font-size: 16px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #353638;
  display: flex;
  place-items: center;
}

#app {
  display: grid;
  margin: 0 auto;
  padding: 77px 46px;
  font-weight: normal;
  gap: 45px 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1024px) {
  #app {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  #app {
    grid-template-columns: 1fr;
  }
}
